server.port: 8888
# show full health details at /health
#endpoints.health.sensitive: false

# spring cloud config repo settings.
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/renatomateusx/repoconfig # default repo
          search-paths: clean-arch

#Disable security of the Management endpoint
management:
  security:
    enabled: false
  context_path: /admin